@model BitirmeProjesiWeb.Utilities.Mail

<h1>Send Mail</h1>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SenderFullName" class="control-label"></label>
                <input asp-for="SenderFullName" class="form-control" />
                <span asp-validation-for="SenderFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderEmailAddress" class="control-label"></label>
                <input asp-for="SenderEmailAddress" class="form-control" />
                <span asp-validation-for="SenderEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control" style="height:150px"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>

            @if (Model != null && Model.Sent != null)
            {
                if (Model.Sent == true)
                {
                    <span>Sent!</span>
                }
                else
                {
                    <span>An error occured...</span>
                }
            }

            <div class="form-group">
                <input type="submit" value="Gönder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>